<div class="container">
  <ul class="nav">
    <li><a href="/">Templates</a></li>
    <li><a href="/contribute">Add a template</a></li>
    <li><a href="https://www.netlify.com">Netlify</a></li>
  </ul>
</div>
