{# Build the correct parameters for the DTN button #}
{%- set dtn = "repository=" + item.data.repo  -%}
{%- if item.data.stack -%}
{%- set dtn = dtn + "&stack=" + item.data.stack -%}
{%- endif -%}

<div class="template-summary">
  <div class="box">
    <div class="left">
      <h3 class="cta-title-wrapper">
        <a class="cta-title" href="{{ item.url }}">{{ item.data.title }}</a>
      </h3>
      <a class="cta-image" href="{{ item.url }}">
        <img class="thumbnail" src="/images/previews/{{ item.data.preview | appendToName('-400') }}" alt="Screenshot of a page created with {{ item.data.title }}" />
      </a>
    </div>
    <div class="right">
      <h3 class="cta-title-wrapper">
        <a class="cta-title" href="{{ item.url }}">{{ item.data.title }}</a>
      </h3>
      <ul class="meta tags">
        {%- for tag in item.data.tags -%}
        <li class="tag"><a href="/tags/{{ tag | slug }}">{{ tag | capitalize }}</a></li>
        {% endfor -%}
      </ul>
      <div class="dtn">
        <a class="btn-dtn" href="https://app.netlify.com/start/deploy?{{ dtn }}">
          <img src="/images/deploy-button.svg" title="Deploy to Netlify">
        </a>
        <a href="#about-deploy-to-netlify" class="hint">what will this do?</a>
      </div>
      <div>
        {{ item.templateContent | safe }}
      </div>
    </div>
  </div>
</div>
