<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ metaTitle or title }}</title>
    <link rel="canonical" href="https://templates.netlify.com{{ page.url }}" />
    {% include "opengraph.njk" %}
  </head>
  <body class="{{ pageClass }}" >
    <header>
      <div class="container">
        <ul class="navigation">
          <li class="logo"><a href="https://www.netlify.com">Netlify</a></li>
          <li><a href="/" class="templates">Templates</a></li>
          <li><a href="/contribute" class="contribute">Contribute</a></li>
        </ul>
        <div class="prime">
        {% block header %}
        <h1>Jamstack Templates</h1>
        <p>Find the perfect place to begin a new Jamstack site. Deploy a template site to Netlify <a href="#about-deploy-to-netlify">with just one click</a>. The site’s code will automatically populate as a new folder in your Git repository so you can explore, edit, and update so it works for you. All for free.</p>
        {% endblock %}
        </div>
      </div>
      <div class="wave" aria-hidden="true">
        <svg viewBox="0 0 1440 127">
          <path d="M0.5,42.9636079 L0.5,119.5 L1439.5,119.5 L1439.5,43.119913 C748.936314,13.2999357 269.448743,13.3212255 1.05528611,43.1811859 L0.5,43.242964 L0.5,42.9636079 Z" id="Combined-Shape"></path>
        </svg>
      </div>
    </header>
    <div class="container content">
      {% if page.url != "/" %}
      <h2>{{ title }}</h2>
      {% endif %}
      {{ content | safe }}
    </div>
    <footer>
      <div class="container">
        <ul class="navigation">
          <li><a href="https://www.netlify.com" class="brand">Netlify</a></li>
          <li><a href="/" class="templates">Templates</a></li>
          <li><a href="/contribute" class="contribute">Contribute</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
