<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ pageClass }}" >
    <header>
      <div class="container">
        <ul class="navigation">
          <li><a href="https://www.netlify.com" class="logo">Netlify</a></li>
          <li><a href="/" class="templates">Templates</a></li>
          <li><a href="/contribute" class="contribute">Contribute</a></li>
        </ul>
        <div class="prime">
        {% block header %}
        <h1>JAMstack templates</h1>
        <p>Find the perfect place to begin a new JAMstack site. Deploy a template site to Netlify <a href="#about-deploy-to-netlify">with just one click</a>. The site’s code will automatically populate as a new folder in your Git repository so you can explore, edit, and update so it works for you. All for free.</p>
        {% endblock %}
        </div>
      </div>
    </header>
    <div class="container content">
      {% if page.url != "/" %}
      <h2>{{ title }}</h2>
      {% endif %}
      {{ content | safe }}
    </div>
    <footer>
      <div class="container">
        <ul class="navigation">
          <li><a href="https://www.netlify.com" class="brand">Netlify</a></li>
          <li><a href="/" class="templates">Templates</a></li>
          <li><a href="/contribute" class="contribute">Contribute</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
