<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ pageClass }}" >
    <header>
      {# <div class="search-panel">
        <div class="container">
          <input type="search" />
        </div>
      </div> #}
      <div class="container">
        <ul class="navigation">
          <li><a href="https://www.netlify.com" class="logo">Netlify</a></li>
          <li><a href="/" class="templates">Templates</a></li>
          <li><a href="/contribute" class="contribute">Contribute</a></li>
          {# <li class="search"><a href="/search" >Search</a></li> #}
        </ul>
        <div class="prime">
        {% block header %}
        <h1>JAMstack templates</h1>
        <p>Find the perfect starting point for your JAMstack project</p>
        {% endblock %}
        </div>
      </div>

    </header>

    <div class="container">
      <h2>{{ title }}</h2>
      {{ content | safe }}
    </div>
    <footer>
      <div class="container">
        <ul class="navigation">
          <li><a href="https://www.netlify.com" class="brand">Netlify</a></li>
          <li><a href="/" class="templates">Templates</a></li>
          <li><a href="/contribute" class="contribute">Contribute</a></li>
          {# <li class="search"><a href="/search" >Search</a></li> #}
        </ul>
      </div>
    </footer>
  </body>
</html>



