---
layout: layouts/base.njk
pageClass: details
templateEngineOverride: njk, md
---
<div class="template-summary">
  <h2>{{ page.title }}</h2>
  <img src="/images/previews/{{ preview | appendToName('-1000') }}" alt="Screenshot of a page created with {{ item.data.title }}" />
  <ul class="meta tags">
  {%- for tag in tags -%}
    <li><a href="/tags#{{tag}}">{{tag}}</a></li>
  {% endfor -%}
  </ul>
  <p>
    Repo: <a href="{{ repo }}" target="_BLANK" rel="noopener">{{ repo }}</a>
  </p>
</div>
<main>
  <h2>Description</h3>
  <div class="description">
  {{ content | safe }}
  </div>
  <a href="https://app.netlify.com/start/deploy?repository={{repo}}">
    <img src="/images/deploy-button.svg" title="Deploy to Netlify">
  </a>
  <a class="hint" href="/on-click-deploy">what does this button do?</a>

</main>
