.card {
  margin: 10px;
  justify-content: space-between;
  width: 264px;
}

.image {
  max-height: 152px;
}

.card-header {
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
}

a {
  color: inherit;
  text-decoration: underline;
  line-height: 24px;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    color: #00c7b7;
  }
}

.action-text-default,
.action-text-productive,
.action-text-destructive {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.action-text-productive {
  color: var(--darkGreen);
}

.action-text-destructive {
  color: var(--darkRed);
}

/* Button */

a,
button {
  cursor: pointer;
}

.btn,
.button-ui-default,
.button-ui-primary,
.button-ui-productive,
.button-ui-destructive {
  display: inline-block;
  border-radius: var(--smallRadius);
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  padding: 6px 14px;
  min-width: 248px;
  width: auto;
  border: 2px solid #fff;
  background: #fff;
  color: #717e83;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
  text-align: center;
  font-weight: 600;
  line-height: 24px;
  transition: all .2s ease-out;

  &:focus {
    box-shadow: 0 0 10px 0 #EDBF43;
    outline: none;
  }

  &:hover {
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.16);
    text-decoration: none;
  }
}

a.btn {
  color: #717e83;
}

a.btn,
a.button-ui-default,
a.button-ui-primary,
a.button-ui-productive,
a.button-ui-destructive {
  position: relative;
  left: 2px;
  display: inline-block;
  padding: 6px 14px;
  min-width: 136px;

  /* 14 and not 16 to make up for the border */
}

.button-ui-primary.loading,
.button-ui-productive.loading,
.button-ui-destructive.loading {
  background: url('/images/loading-stripes-white@2x.png');
  background-repeat: repeat-x;
  background-size: contain;
  background-origin: border-box;
  background-position: 0% 0%;
  animation: loading 20s linear infinite;
  pointer-events: none;
}

.button-ui-default {
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.button-ui-default.loading {
  background: url('/images/loading-stripes-grey@2x.png');
  background-repeat: repeat-x;
  background-size: contain;
  background-origin: border-box;
  background-position: 0% 0%;
  animation: loading 20s linear infinite;
  pointer-events: none;
}

@keyframes loading {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 700% 0%;
  }
}

.button-ui-default.disabled,
.button-ui-primary.disabled,
.button-ui-productive.disabled,
.button-ui-destructive.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button-ui-default.disabled {
  border-color: #717E83;
  background: #717E83;
  color: #fff;
}

.block-link:hover .btn,
.btn:hover,
.button-ui-default:hover {
	background: #fafafa;
  color: #717e83;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.16);
}

.button-ui-default.loading {
  background-color: #fafafa;
}

.btn.btn-primary,
.button-ui-primary {
	color: #fff;
	background: var(--darkGreen);
	border-color: var(--darkGreen);

  &:hover,
  &:focus {
  	background: #007A70;
  	border-color: #007A70;
  }
}

.button-ui-primary.loading {
  background-color: #007A70;
  border-color: #007A70;
}

.btn.btn-default,
.button-ui-productive {
  background: #fff;
  border: 2px solid var(--darkGreen);
  color: #00a193;

  &:hover {
  	background: var(--darkGreen);
  	color: #fff;
  }
}

.button-ui-productive.loading {
  background-color: var(--darkGreen);
  color: #fff;
}

.btn.btn-danger,
.button-ui-destructive {
  background: #fff;
  border: 2px solid var(--darkRed);
  color: var(--darkRed);

  &:hover {
    background: var(--darkRed);
    color: #fff;
  }
}

.button-ui-destructive.loading {
  background-color: var(--darkRed);
  color: #fff;
}

.btn.btn-pop {
  border-color: var(--gold);
  background: var(--gold);
  background-image: linear-gradient(-180deg, #f5c117 0%, var(--gold) 100%);
  color: #fff;

  &:hover {
    border-color: #dba800;
    background: #dba800;
    color: #fff;
  }
}

.action-text-default,
.action-text-productive,
.action-text-destructive {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.action-text-productive {
  color: var(--darkGreen);
}

.action-text-destructive {
  color: var(--darkRed);
}
