
// Breakpoints
$bp-narrow: "(min-width: 600px)";
$bp-mid: "(min-width: 800px)";
$bp-wide: "(min-width: 1000px)";

// Colours
$page-color: #fff;
$feint-color: #f4f7f8;
$text-color: #555;
$bright-color: #fff;
$bold-color: #111;
$accent-color: #00b09f;

