
// Breakpoints
$bp-narrow: "(min-width: 600px)";
$bp-mid: "(min-width: 800px)";
$bp-wide: "(min-width: 1000px)";

// Colours
$page-color : #eee;
$text-color: #555;
$bright-color: #fff;
$bold-color: #000;
$accent-color: #5bc4f5;
