@import '_variables';
@import '_mixins';


* {
  margin: 0;
  padding: 0;
}

html {
  background-color: $page-color;
}

body {
  text-align: center;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  background-color: $page-color;
  color: $text-color;
  text-align: center;

  @include bp(narrow) {
    font-size: 15px;
    line-height: 1.6;
  }
  @include bp(mid) {
    font-size: 16px;
    line-height: 1.6;
  }
  @include bp(wide) {
    font-size: 17px;
    line-height: 1.8;
  }
}

/*
  Headings
*/
h1, h2, h3 {
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0.4em;
  color: $bold-color;
  font-weight: 500;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.2em; }

h1 {
  color: #fff;
}




/*
  typography basics
*/
p {
  padding-top: 0;
  padding-bottom: 1em;
}

ul.listing {
  list-style: none;
  margin-top: 2em;
  margin-bottom: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  li.item-template {
    padding-bottom: 1em;
    border-top: 1px solid mix(#fff, #0e1e25, 90%);
  }
  li.item-template:first-of-type {
    border-top-style: none;
    margin-top: -4em;
    @include bp(mid) {
      margin-top: 0em;
    }
  }
}


.template-summary {

  div.box {
    display: block;
    @include bp(mid) {
      display: flex;
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }

  div.left {
    padding-top: 5.4em;
    padding-left: 0em;
    @include bp(mid) {
    }

    .cta-title-wrapper {
      @include bp(mid) {
        margin-top: 0;
        margin-bottom: 0;
        display: none;
      }

      a.cta-title {
        display: inline-block;
      }
    }
  }

  div.right {
    padding-left: 0em;
    @include bp(mid) {
      padding-left: 2em;
    }

    .cta-title-wrapper {
      margin-top: 0;
      margin-bottom: 0;
      display: none;

      @include bp(mid) {
        margin-top: 1em;
        margin-bottom: 0.4em;
        display: block;
      }

      a.cta-title {
        display: inline;
      }
    }
  }

  img.preview {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 1px 6px 0 rgba(14,30,37,.12);
    box-shadow: 0 1px 6px 0 rgba(14,30,37,.12);
  }

  a.cta-title {
    margin-bottom: 0.5em;
  }
}


ul.meta {
  list-style: none;
  margin-top:0.5em;
  margin-bottom:1em;
  font-size: 0.8em;

  li {
    display: inline-block;
  }

  .tag {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 1.8em;
    padding-left: 1.6em;
    background-image: url('/images/icon-tag.svg');
    line-height: 2;

  }

  .link-repo,
  .link-example {
    display: block;
    background-position: 0 0.1em;
    background-repeat: no-repeat;
    background-size: 1.4em;
    padding-left: 1.7em;
    padding-bottom: 0.2em;
  }
  .link-example {
    background-image: url('/images/icon-browser.svg');
  }
  .link-repo {
    background-image: url('/images/icon-git.svg');
  }
}



/*
  Links
*/
a {
  text-decoration: none;
  &:link,
  &:visited {
    color: mix($bold-color, $page-color, 80%);
    border-bottom-color: mix($accent-color, $page-color, 30%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  &:hover,
  &:focus {
    color: $bold-color;
    border-bottom-color: $accent-color;
  }
}

header a {
  &:link,
  &:visited {
    color: #fff;
    border-bottom-color: $accent-color;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  &:hover,
  &:focus {
    border-bottom-color: mix($accent-color, $page-color, 30%);
  }

}



a.btn-dtn {
  display: inline-block;
  border-bottom-style: none;
  vertical-align: top;
}


.dtn {
  margin-top: 0.6em;
  margin-bottom: 1.6em;

  .hint {
    font-size: 0.8em;
    font-style: italic;
    opacity: 0.5;
    line-height: 2;
  }
}


a.cta-image {
  &:link,
  &:visited {
    border-bottom-style: none;
    img.thumbnail {
      -webkit-box-shadow: 0 1px 6px 0 rgba(14,30,37,.12);
      box-shadow: 0 1px 6px 0 rgba(14,30,37,.12);
      width: 100%;
      @include bp(narrow) {
        width:200px;
      }
    }
  }
  &:hover,
  &:focus {
    border-bottom-style: none;
    img.thumbnail {
      -webkit-box-shadow: 0 3px 10px 0 rgba(14,30,37,.22);
      box-shadow: 0 3px 10px 0 rgba(14,30,37,.22);
    }
  }
}



/*
  Layout
*/

.container {
  width:90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  z-index: 1;
  position: relative;
  @include bp(narrow) {
    width:80%;
  }
  @include bp(mid) {
    width:700px;
  }
  @include bp(wide) {
    width:800px;
  }
}

.content {
  margin-top:3em;
  margin-bottom:4em;
}

main {
  margin-top:3em;
  margin-bottom:3em;
}

header {
  margin-bottom: 4em;
  padding-top: 1em;
  padding-bottom: 4em;
  overflow: hidden;
  position: relative;
  background: #0e1e25;
  background: linear-gradient(to bottom, #0e1e25 20%,#2d3b41 90%);
  color: mix(#fff,#0e1e25, 80%);
  text-shadow: 0 2px 20px rgba(0,0,0,.16);

  .navigation {
    list-style: none;
    padding-bottom: 1.6em;
    margin-top: 1em;
    margin-bottom: 4em;
    border-bottom: solid 1px mix(#fff, #0e1e25, 20%);
    text-align: center;
    @include bp(narrow) {
      text-align: left;
      padding-bottom: 0.6em;
    }

    li {
      display: inline;
      margin-right: 1em;
    }
    a {
      &:link,
      &:visited {
        color: mix(#fff, #0e1e25, 80%);
        border-bottom-style: none;
      }
      &:hover,
      &:focus {
        color: #fff;
        border-bottom-style: none;
      }
    }
  }

  .prime {
    text-align: center;
  }

  .logo {
    display: block;

    a {
      display: block;
      background-size: 120px;
      width: 120px;
      height: 50px;
      background-image: url('/images/full-logo-dark.svg');
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -999px;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em;
      @include bp(narrow) {
        display: inline-block;
        margin-left: 0;
        margin-bottom: 0;
      }

    }
    margin-right: 2em;
    margin-bottom: 2em;

    @include bp(narrow) {
      display: inline-block;
      margin-bottom: 0;
    }

  }


}

footer {
  background-color: $feint-color;

  .container {
    text-align: center;
    padding-top: 6em;
    padding-bottom: 6em;
  }

  .navigation {
    list-style: none;
    li {
      display: inline;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    a {
      &:link,
      &:visited {
        color: mix(#fff, #0e1e25, 60%);
        border-bottom-style: none;
      }
      &:hover,
      &:focus {
        color: mix(#fff, #0e1e25, 40%);
        border-bottom-style: none;
      }
    }
  }

}




/*
  Navigation
*/
ul.nav {
  list-style: none;
  li {
    display: inline;
  }
}




.wave {
  overflow: hidden;
  position: absolute;
  width: 100%;
  color: #fff;

  svg {
    fill: currentColor;
    width: 102%;
    margin-left: -1%;
    height: auto;
  }
}

.wave:last-child {
  bottom: 0;
  transform: translateY(60%);
}
