---
title: JAMstack project templates
layout: layouts/base.njk
pageClass: home
description: A collection of project starter templates for a variety of static site generators with one-click deployments to Netlify.
tags:
  - nav
---
<ul class="listing">
{%- for page in collections.templates -%}
  <li class="item-template">
  {% set item = page %}
  {% include "summary.njk" %}
  </li>
{%- endfor -%}
</ul>

<h2 id="about-deploy-to-netlify">What happens when you click 'Deploy to Netlify'?</h2>
<p>
  Once you click the Deploy to Netlify button you’ll be dropped into a simple signup workflow. Connect your Git repository and hit save, and Netlify will deploy the site to a global content delivery network. You’ll receive a link to your live site’s URL.
</p>
