---
title: Jamstack Project Templates
layout: layouts/base.njk
pageClass: home
description: A collection of project starter templates for a variety of static site generators with one-click deployments to Netlify.
tags:
  - nav
---
<ul class="listing">
{%- for page in collections.templates -%}
  <li class="item-template">
  {% set item = page %}
  {% include "summary.njk" %}
  </li>
{%- endfor -%}
</ul>

{% include "about-deploy-to-netlify.njk" %}
