---
pagination:
  data: metadata.pageTags
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---

<h2>/ <a href="/tags">tags</a> / {{ tag }} </h2>


<ul class="listing">
{% set postslist = collections[tag] %}
{% for post in postslist %}
  <li class="item-template">
  {% set item = post %}
  {% include "summary.njk" %}
  </li>
{% endfor %}
</ul>
