---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - all
  - template
  - nav
  - things
permalink: /tags/{{ tag | slug }}/
layout: layouts/base.njk
eleventyComputed:
  metaTitle: '{{ tag | capitalize }}'
---
<h2>/ <a href="/tags">Tags</a> / {{ tag | capitalize }} </h2>
<ul class="listing">
{%- set postslist = collections[tag] -%}
{% for post in postslist %}
  <li class="item-template">
  {%- set item = post -%}
  {% include "summary.njk" %}
  </li>
{% endfor %}
</ul>
