---
title: Templates organized by tags
layout: layouts/base.njk
pageClass: home
description: A collection of project starter templates for a variety of static site generators with one-click deployments to Netlify.
---

This page will list things by tags and have anchor points to link directly to. Soon.

