name: Dependency License Scanning

# on:
#   push:
#     branches:
#       - master

# defaults:
#   run:
#     shell: bash

jobs:
  fossa:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Upload dependencies
      uses: fossas/fossa-action@v1
      with:
        api-key: ${{ secrets.FOSSA_API_KEY }}
